<footer>
  <div class="row">
    <ul class="col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0">
      <li>Learn more</li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/careers/">Careers</a></li>
    </ul>
    <ul class="col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0">
      <li>Sectors</li>
      <li><a href="/insurance/">Insurance</a></li>
      <li><a href="/sports/">Sports</a></li>
      <li><a href="/childcare/">Childcare</a></li>
      <li><a href="/schools/">Schools</a></li>
      <li><a href="/nfp/">Not-For-Profit</a></li>
      <li><a href="/local-government/">Local Government</a></li>
      <li><a href="/camps/">Camps</a></li>
      <li><a href="/individuals/">Individuals</a></li>
    </ul>
    <ul class="col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0 xs-margin">
      <li>Everproof APP</li>
      <li><a href="/security/">Security</a></li>
      <li><a href="https://app.everproof.com/">Login</a></li>
      <li><a href="https://everproof.zendesk.com/hc/en-us" target="_blank">Help Centre</a></li>
      <li><a href="/docs/legal/individual-terms-of-use.pdf" target="_blank">Individual Terms</a></li>
      <li><a href="/docs/legal/organisation-terms-of-use.pdf" target="_blank">Organisation Terms</a></li>
      <li><a href="/docs/legal/privacy-policy.pdf" target="_blank">Privacy Policy</a></li>
      <li><a href="/docs/legal/privacy-collection-notice.pdf" target="_blank">Collection Notice</a></li>
    </ul>
    <ul class="col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0 xs-margin">
      <li>Contact</li>
      <li><a href="/demo/">Request A Demo</a></li>
      <li><a href="/contact/">Contact Us</a></li>
      <li>
        <a target="_blank" href="https://www.facebook.com/everproof/">
          <img src="/img/facebook.svg" class="social">
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCy0UbzfSnE8vyQw0Bi9kjkA">
          <img src="/img/youtube.svg" class="social">
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/6444336/">
          <img src="/img/linkedin.svg" class="social">
        </a>
        <a target="_blank" href="https://twitter.com/everproofco">
          <img src="/img/twitter.svg" class="social">
        </a>
      </li>
    </ul>
  </div>
  <div class="row text-center"><p>Copyright Clasity Pty Ltd © {{ site.time | date: '%Y' }}</p></div>
</footer>
