#clients {
  @include set-multiple(padding-top padding-bottom, 20px);

  .subheading {
    color: #7d7d7d;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .image-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    flex-grow: 1;

    img {
      max-width: 120px;
      max-height: 55px;
    }

    @media (max-width: 900px) {
      width: 33.333%;
    }

    @media (max-width: 600px) {
      width: 49%;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
