@import "../mixins/utils";
@import "../mixins/video";

#individuals-features {
  .fancy-list {
    @extend .row;

    @include set-multiple(margin-left margin-right, auto !important);

    .fancy-list-item {
      @extend .col-sm-6;
      @include set-multiple(margin-top margin-bottom, 20px);
    }
  }
}

#stand-out-with-employers {
  h2 {
    margin-bottom: 25px;
  }

  .video {
    max-width: 640px;

    .video-inner {
      @extend .embed-responsive;
      @extend .embed-responsive-16by9;

      position: relative;
      background: url('/img/individual-display-487x400.png') center center no-repeat;
      background-size: contain;

      .video-play {
        top: 40%;
        left: 50%;

        @include video-play-button(70px);
      }

      iframe {
        display: none;
      }

      &.show-video {
        background: none;

        iframe {
          display: block;
        }

        .video-play {
          display: none;
        }
      }
    }
  }
}
