---
layout: layout
---

{% assign values = "qualifications|accreditations|degrees|certificates|training|lifelong learning|licences" %}
<div id="main-header" style="background-image: url('/img/banners/individuals2.jpg');">
  <div id="header">
    <div id="header-title">
      <h1 class="main-title">
        Store your <span data-text-change="{{ values }}"></span><br class="text-change-br"> digitally using Everproof
      </h1>
      <h1 class="subheading">Keep everything in one place.</h1>
      <h1 class="subheading">Access anywhere, anytime.</h1>
      <div class="buttons">
        <a href="https://app.Everproof.com/Account/Register" class="button">Create A Free Account</a>
      </div>
    </div>
  </div>
</div>
{{ content }}
